<div class="contenedor-notas">
    {% for nota in data %}
<div class="{% if(nota[3] == 1):%} 
                notas
            {% else: %}
                notas-pendientes
            {% endif %}" id="{{nota[0]}}">
    <div class="herramientas">
        <div class="estado">
            <select class="estado" data-idNota="{{nota[0]}}">
                <option value="1" 
                {% if(nota[3] == 1):%} 
                    selected
                {% endif %}
                >Activo</option>
                <option value="2"
                {% if(nota[3] == 2):%} 
                    selected
                {% endif %}
                >Pendiente</option>
            </select>
        </div>
        <div class="opciones">
            <div class="opcion">
                <a class="actualizarNota" data-actualizar="{{nota[0]}}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="20" height="20" viewBox="0 0 24 24" stroke-width="3" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                        <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                    </svg>
                </a>
            </div>
            <div class="opcion">
                <a class="eliminarNota" data-eliminar="{{nota[0]}}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="20" height="20" viewBox="0 0 24 24" stroke-width="3" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <line x1="18" y1="6" x2="6" y2="18" />
                        <line x1="6" y1="6" x2="18" y2="18" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="datos-nota">
        <div class="tituloNota titulo{{nota[0]}}">{{nota[1]}}</div>
        <div class="descripcionNota descripcion{{nota[0]}}">{{nota[2]}}</div>
    </div>
</div>
{% endfor %}
</div>
